/* Safari 4.0 - 8.0 */
@-webkit-keyframes moveforward-title {
    from {left: 32vw;}
    to {left: 59vw;}
}

/* Standard syntax */
@keyframes moveforward-title {
    from {left: 32vw;}
    to {left: 59vw;}
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes moveback-title {
    from {left: 59vw;}
    to {left: 32vw;}
}

/* Standard syntax */
@keyframes moveback-title {
    from {left: 59vw;}
    to {left: 32vw;}
}


#label {
    display: block;
    margin: auto;
    text-align: center;
    font-size: 8vw;
    color: #580EAD;
}

textarea {
    color: #000;
    background-color: #DDD;
    border: 1px solid #000000;
    border-radius: 10%;
    display: block;
    width: 90%;
    height: 21vw;
    margin: auto;

    font-size: 7vw;
}

input[type=submit] {
    display: block;
    margin: auto;
    text-align: center;
    font-size: 8vw;
    width: 40vw;
    height: 12vw;


    color: white;
    background: #444BDF;
    font-family: Tahoma;
    border:1px solid #444BDF;
    border-radius: 2px;


    margin: auto;
    margin-top: 4vw;
}