/* Safari 4.0 - 8.0 */
@-webkit-keyframes moveforward-title {
    from {left: 40vw;}
    to {left: 61vw;}
}

/* Standard syntax */
@keyframes moveforward-title {
    from {left: 40vw;}
    to {left: 61vw;}
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes moveback-title {
    from {left: 61vw;}
    to {left: 40vw;}
}

/* Standard syntax */
@keyframes moveback-title {
    from {left: 61vw;}
    to {left: 40vw;}
}

.no-result {
    display: block;
    font-size: 10vw;
    margin: auto;
    width: 100%;
    text-align: center;
}

.result {
    display: block;
    width: 98%;
    height: 20vw;
    border: 2px solid #580EAD;
    border-radius: 10px;
    margin: auto;
    margin-top: 10px;
    background-color: #eee;
}

.image-tiny {
    display: inline;
    width: 20vw;
    height: 20vw;
    float: left;
    border: 1px solid #580EAD;
    border-radius: 50%;
    margin-left: 4vw;
}

.username {
    display: block;
    font-size: 9vw;
    text-align: center;
    color: #580EAD;
}

.fullname {
    display: block;
    font-size: 7vw;
    text-align: center;
    color: #580EAD;
}