/* Safari 4.0 - 8.0 */
@-webkit-keyframes moveforward-title {
    from {left: 40vw;}
    to {left: 61vw;}
}

/* Standard syntax */
@keyframes moveforward-title {
    from {left: 40vw;}
    to {left: 61vw;}
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes moveback-title {
    from {left: 61vw;}
    to {left: 40vw;}
}

/* Standard syntax */
@keyframes moveback-title {
    from {left: 61vw;}
    to {left: 40vw;}
}


/* Safari 4.0 - 8.0 */
@-webkit-keyframes moveforward-content-left {
    from {left: 0;}
    to {left: -100vw;}
}

/* Standard syntax */
@keyframes moveforward-content-left {
    from {left: 0;}
    to {left: -100vw;}
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes moveback-content-left {
    from {left: -100vw;}
    to {left: 0;}
}

/* Standard syntax */
@keyframes moveback-content-left {
    from {left: -100vw;}
    to {left: 0;}
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes moveforward-content-right {
    from {left: 100vw;}
    to {left: 0;}
}

/* Standard syntax */
@keyframes moveforward-content-right {
    from {left: 100vw;}
    to {left: 0;}
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes moveback-content-right {
    from {left: 0;}
    to {left: 100vw;}
}

/* Standard syntax */
@keyframes moveback-content-right {
    from {left: 0;}
    to {left: 100vw;}
}

.no-result {
    display: block;
    font-size: 10vw;
    margin: auto;
    margin-top: 15vw;
    width: 100%;
    text-align: center;
    position: fixed;
}

.result {
    display: block;
    width: 98%;
    height: 20vw;
    border: 2px solid #580EAD;
    border-radius: 10px;
    margin: auto;
    margin-top: 10px;
    background-color: #eee;
}

.image-tiny {
    display: inline;
    width: 20vw;
    height: 20vw;
    float: left;
    border: 1px solid #580EAD;
    border-radius: 50%;
    margin-left: 4vw;
}

.username {
    display: block;
    font-size: 9vw;
    text-align: center;
    color: #580EAD;
}

.fullname {
    display: block;
    font-size: 7vw;
    text-align: center;
    color: #580EAD;
}

#friends-hand {
    display: inline-block;
    width: 33%;
    background-color: #580EAD;
    color: #0EADA7;
    font-size: 8vw;
    text-align: center;
    margin-top: 2vw;
    margin-bottom: 2vw;
}

#left-hand {
    display: inline-block;
    width: 33%;
    background-color: #0EADA7;
    color: #580EAD;
    font-size: 8vw;
    text-align: center;
    margin-top: 2vw;
    margin-bottom: 2vw;
}

#right-hand {
    display: inline-block;
    float: right;
    width: 33%;
    background-color: #0EADA7;
    color: #580EAD;
    font-size: 8vw;
    text-align: center;
    margin-top: 2vw;
    margin-bottom: 2vw;
}

#income, #outcome, #friends {
    position: fixed;
    width: 100%;
    height: auto;
}