body {
    
    background-color: #580EAD;
    margin: 0;
}


.logo-position {
    text-align: center!important;
}

/* unvisited link */
a:link {
    color: #FFF;
}

/* visited link */
a:visited {
    color: #FFF;
}

/* mouse over link */
a:hover {
    color: #FFF;
}

/* selected link */
a:active {
    color: #FFF;
}

/*input animation(to right) default position*/
input.input-half::-webkit-input-placeholder       {text-indent: 27vw;   transition: text-indent 0.3s ease;}

/*focus position*/
input.input-half:focus::-webkit-input-placeholder {text-indent: 100vw; transition: text-indent 0.3s ease;}

/*input animation(to right) default position*/
input.input-on-start::-webkit-input-placeholder       {text-indent: 0;   transition: text-indent 0.3s ease;}

/*focus position*/
input.input-on-start:focus::-webkit-input-placeholder {text-indent: 100vw; transition: text-indent 0.3s ease;}




.input-on-start,.input-half,.input-for-prof {
    width: 92vw;
    height: 3vh;
    
    display:block;
    margin-left: auto;
    margin-right: auto;
    
    outline: none;
    font-size: 32pt;
    font-family: Bebas Neue;
    
    border-color: white;
    border-right: 0;
    border-left: 0;
    border-top: 0;
    
    background: #580EAD;
    
}

#container-for-photo {
    position: relative;
    float:left;
    width: 100%;
}

#Name {
    float: left;
    height: 50%;
}

#butt {
    width: 26vw;
    height: 7vh;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 28pt;
    color: white;
    background: #444BDF;
    font-family: Tahoma;
    border:1px solid #444BDF;
    border-radius: 2px;
}
#sign-up {
    display: block;
    text-align: center!important;
    font-family: Verdana;
    color: white;
    font-size: 30px;
    text-decoration: none;
}

/*Sign Up page*/
.back-arrow {
    float: left;
    width:64px;
    height: 64px;
    margin-left: 10px;
    vertical-align:middle;
}

.next-link {
    text-decoration: none;
    font-size: 42px;
    color: #FFF;
    margin: 0;
    margin-left: 89vw;
    margin-right: 10px;
    
    
  width: 84px;
height: 64px;
    padding-right: 10px;
}
 
div p {
    position: absolute;
    display: table-cell;
    vertical-align: bottom;
    margin-top: 10px;
}


a:link {
   
    text-decoration: none;
    color: white;
    font-size: 42px;
    
}


header {
background-color: #580EAD;
    position:inherit;
 width: 100vw;
    margin-bottom: 200px;
 
    
}
/*Profile Data page*/

.space-for-photo {
    float: left;
    background: white;
    background-color: white;
    
}

.gender {
    font-family:inherit;
    display: block;
    width: 70%;
    height:20vw;
    position: relative;
    float: right;
    margin: auto;
    padding: 10;
}

fieldset {
  overflow: hidden
}

.some-class {
font-size: 32px;
  float: left;
  clear: none;
}

label {
    font-size: 32px;
  float: left;
  clear: none;
  display: block;
  padding: 2px 1em 0 0;
}

input[type=radio],
input.radio{
    display: none;
  float: left;
  clear: none;
  margin: 2px 0 0 2px;
    width: 20%;
    height: 2em;
    
}

.floating-box {
    float: left;
    text-align: center;
    width: 256px;
    height: 75px;
    
    border: none;
    font-size: 32px;
}

.floating-box-gender {
    float: right;
    text-align: justify;
    width: 70%;

    border: none;
    font-size: 32px;
    padding: 20px;
}

#avatar {
    width: 256px;
    height:256px;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    border-radius:50%;
}

#lbl_m {
    font-size:48px;
}
#lbl_f {
    font-size: 48px;
    float: right;
}
#lbl_file {
    float: none;
}

/*style for alerts!! */
.alert {
    padding: 30px;
    background-color: #f44336;
    color: white;
    margin: auto;
    display: block;
    font-size: 50px;
    text-align: center;
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 110px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
    padding: 1%;
}

.closebtn:hover {
    color: black;
}
/* end of alerts */


/* start of my header */

div.forDash {
    display: inline;
    float: left;
    width: 8vw;
    height: 8vw;
    margin: 0;
}

div.head {
    display: inline;
    padding-right: 15vw;
    float: center;


    font-size: 8vw;
    margin: auto;

}

/* ends my header */